<ion-view view-title="About" class="about">
  <ion-content>
    <img src="./img/KiwiKiwi%20-%20Logo.png" />
    
    <div class="card">
    
    <div class="item item-text-wrap">
    
    <div class="row">
	
		<div class="col">
	
		    <h2>Hello from the KiwiKiwi Team</h2>
		    <br />
    <p>We are a multi-talented team of fourth-year University of Gloucestershire students, studying for degrees in Games and Web Design. As part of our final year projects we have been busy working away on a range of multimedia products around our game The Hybrid.</p>
	    
		</div>
    </div>
    
    
    </div>
   <div class="item">
	    
	     <a href="#" onclick="window.open('http://www.wearekiwikiwi.co.uk','_system','location=yes'); return false" class="button button-balanced button-block">Visit Website</a>
	    
    </div>
    </div>
   
  </ion-content>
  
</ion-view>