<ion-view view-title="About" class="about">
	<ion-content has-bouncing="false">
	    <br />
	    <div class="row">
		    
		    <div class="col-offset-25 col-50">
			    
			    <img src="./img/KiwiKiwi%20-%20Logo.png" />
			   
		    </div>
		    
	    </div>
	    
	    <div class="card">
	    
		    <div class="item ">
				
				<h2>Hello from the KiwiKiwi Team</h2>
					    
		    </div>
		    
		    <div class="item item-text-wrap">
					    
				<p>We are a multi-talented team of fourth-year University of Gloucestershire students, studying for degrees in Games and Web Design. As part of our final year projects we have been busy working away on a range of multimedia products around our game The Hybrid.</p>
				    
					
			</div>
		    
		</div>
	    
	    <div class="card">
		    
		    <div class="item item-text-wrap">
			    
			    <div class="row">
				    
				    <h2>The Team</h2>
				    
			    </div>
			    
		    </div>
		    
		    <div class="item item-text-wrap item-avatar">
			    
			    <img src="./img/michael-faraday.jpg">
			    <h2>Michael Faraday</h2>
			    <p>Project Manager & Art Director</p>
			    
		    </div>
		     <div class="item item-text-wrap item-avatar">
			    
			    <img src="./img/paul.png">
			    <h2>Paul Cottrell</h2>
			    <p>Web Developer and SEO & Marketing</p>
			    
		    </div>
		    
		     <div class="item item-text-wrap item-avatar">
			    
			    <img src="./img/John-Evans.jpg">
			    <h2>John Evans</h2>
			    <p>Multimedia Producer and Administrator</p>
			    
		    </div>
		    
		     <div class="item item-text-wrap item-avatar">
			    
			    <img src="./img/mike-pascoe.jpg">
			    <h2>Mike Pascoe</h2>
			    <p>Lead Programmer and 2D Graphical Artist </p>
			    
		    </div>
		    
		     <div class="item item-text-wrap item-avatar">
			    
			    <img src="./img/james.png">
			    <h2>James Williams</h2>
			    <p>Application and Web Developer</p>
			    
		    </div>
		    
	    </div>
   
		<div class="row">
		<button class="button button-block button-balanced">Visit Website</button>
		</div>
   
   </ion-content>
  
</ion-view>