<ion-view view-title="Login" class="login">

	<ion-content has-bouncing="false">
	
		<br />
	
		<div class="card">
			
			<div class="item item-text-wrap">
			
	  			<p>Login to the app with your Hybrid account details to access your player stats</p>
				
			</div>
			
			<div class="item">
		
					<label class="item item-input">
					
						<input type="text" autocorrect="off" value="admin@the-hybrid.co.uk" autocapitalize="none" id="username" placeholder="Username">
					
					</label>
	
					<label class="item item-input">
	
						<input type="password" autocorrect="off" value="d55194bead47cbdd71591b73f6465e53" autocapitalize="none" id="password" placeholder="Password">
	
					</label>
				
					<br />
		
					<button ng-click="showPopup()" class="button button-block button-positive">Submit</button>
					
				</div>

			
	
		</div>
	
	</ion-content>


</div>