<ion-view view-title="Player" class="player">
  <ion-content has-bouncing="false">
  	<ion-refresher
  	pulling-text="Pull to refresh..."
  	on-refresh="playerRefresh()">
  </ion-refresher>
  
  <div class="player_card">
  
  	<div class="row">
	  	
	  	<div class="col">
		  	
		  	<img src="./img/hybrid-idle.gif" height="75" width="" />
		  	
	  	</div>
	  	
	  	<div class="col">
		  	
		  	<div class="row">
			  	
			  	<h2><span id="player_id"></span></h2>
			  	
		  	</div>
		  	<div class="row">
			  	
			  	<div class="col">
			  	
			  		<span id="player_xp"></span>
			  	
			  	</div>
			  	
			  	<div class="col">
				  	
				  	<span id="player_health"></span>
				  	
			  	</div>
			  	
		  	</div>
		  	
	  	</div>
	  	
  	</div>
  	
  </div>
  	
  	<ion-slide-box>
  	
  		<ion-slide>
  		
  			<div class="box box1">
	  			
	  			<div class="list">	
	  			
	  				<div class="item item-divider">
					   Kills
					  </div>
					  <div class="item">
				     Vampire <span class="item-note" id="vampire_kills"></span>
				    </div>
				    <div class="item">
				    Werewolf <span class="item-note" id="werewolf_kills"></span>
				    </div>
				    <div class="item">
				     Ghost <span class="item-note" id="ghost_kills"></span>
				    </div>
				    <div class="item">
				     Zombie <span class="item-note" id="zombie_kills"></span>
				    </div>
	  			</div>
    		
    		</div>
  		
  		</ion-slide>
    
  		<ion-slide>
  		
  			<div class="box box2">

	  			<div class="list">	
	  			
	  				<div class="item item-divider">
					   Story Progress
					  </div>
					  <div class="item">
				     Vampire Boss <span class="item-note">Alive</span>
				    </div>
				    <div class="item">
				    Werewolf Boss <span class="item-note">Alive</span>
				    </div>
				    <div class="item">
				     Ghost Boss <span class="item-note">Alive</span>
				    </div>
				    <div class="item">
				     Zombie Boss <span class="item-note">Alive</span>
				    </div>
	  			</div>
	  		  			
  			</div>
  		
  		</ion-slide>
  		
  		<ion-slide>
  		
  			<div class="box box3">

	  			<div class="list">	
	  			
	  				<div class="item item-divider">
					   Collectables
					  </div>
					  <div class="item">
				     Vampire Notebook Pages <span class="item-note">0/4</span>
				    </div>
				    <div class="item">
				    Werewolf Bones <span class="item-note">0/4</span>
				    </div>
				    <div class="item">
				     Ghost Essence  <span class="item-note">0/4</span>
				    </div>
				    <div class="item">
				     Zombie Brains  <span class="item-note">0/4</span>
				    </div>
	  			</div>
	  			
  			</div>
  		
  		</ion-slide>
  		
  	</ion-slide-box>
    
  </ion-content>
</ion-view>