<ion-view view-title="The Hybrid">
  <ion-content has-bouncing="false">
  	<br />
  	<img src="./img/The%20Hybrid%20-%20Logo.png" height="" width="" alt="" />
  
	<div class="list card">
	
		<div class="item item-text-wrap">
	
		<p>Set in the near future humanity has been pushed to the brink of extinction by what has come to be know as "The Fall." Throughout history mankind has been plagued by four ailments, one of mind, one of body, one of blood and one of spirit.</p>
			
		<br />	
			
		<p>What were once considered monsters, demons and the supernatural have come to be understood by science as virulent, complex and mutagenic viruses as old as mankind itself. Normally these outbreaks burn themselves out before they are carried too far, but this time all four arose at once, and in an unplanned equilibrium they wiped out almost all of mankind, carving out their own territories across the globe.</p>
	
		</div>
		
	</div>
	
	<div class="card">
		
		<div class="videoWrapper">
		
		<iframe src="https://player.vimeo.com/video/118273310?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		
		</div>
		
	</div>
	
		<div class="list">
		
		<button class="button button-block" onclick="window.open('http://www.the-hybrid.co.uk', '_system', 'location=yes'); return false;">Visit Website</button>
		
		</div>
  
  </ion-content>
</ion-view>